[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule ".vim/bundle/PIV"]
	path = .vim/bundle/PIV
	url = git://github.com/spf13/PIV.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-peepopen"]
	path = .vim/bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = git://github.com/vim-scripts/ragtag.vim.git
[submodule ".vim/bundle/calendar.vim"]
	path = .vim/bundle/calendar.vim
	url = git://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/css-pretty"]
	path = .vim/bundle/css-pretty
	url = git://github.com/vim-scripts/Css-Pretty.git
[submodule ".vim/bundle/more.vim"]
	path = .vim/bundle/more.vim
	url = git://github.com/c9s/more.vim.git
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = git://github.com/vim-scripts/fugitive.vim.git
[submodule ".vim/bundle/man-page-view"]
	path = .vim/bundle/man-page-view
	url = git://github.com/vim-scripts/ManPageView.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/txt-browser"]
	path = .vim/bundle/txt-browser
	url = git://github.com/vim-scripts/TxtBrowser.git
