*~
.vim/undofiles
.vim/.netrwhist
.vim/bundle/vim-autocomplpop/.hg/cache/
.vim/bundle/vim-fuzzyfinder/.hg/cache/
.vim/bundle/vim-l9/.hg/cache/
.vim/bundle/vim-scmfrontend/.hg/cache/
.vim/vimpyre.json
.vim/vimpyre/
